/* fonts are links here  */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

/* header area css start here  */


.header-area{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    border-radius: 16px;
    text-align: center;
    margin-top: 50px;
}

.header-area-text h6{
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
    font-family: "Merriweather", serif;
    line-height: normal;
}
.header-area-text h1{
    color: #fff;
    font-size: 72px;
    font-weight: 900;
    font-family: "Merriweather";
    line-height: normal;
}

/* header area css end here  */


/* offer area css start here  */
.offer{
    text-align: center;
}


.offer h2{
    color: #f00;
    font-family: "Inter";
    font-size: 88px;
    font-weight: 700;
    line-height: normal;
    margin-top:120px ;
}

.offer p{
    color: #f00;
    font-size: 24px;
    font-weight: 500;
    font-family: "inter";
    margin-top: 48px;
    margin-bottom: 16px;
}

.offer h3{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    font-family: "inter";
    margin-bottom: 48px;
}

.offer-image{
    width: 100%;
    height: 500px;
    margin: 0 auto;
}

.offer-image img{
    width: auto;
    height: auto;
    object-fit: cover;
}
/* offer area css end here  */


/* welcome area css start here  */
.welcome{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Vector.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    border-radius: 16px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
    gap: 30px;
    margin-bottom: 120px;
}

.welcome-text h1{
    color: #fff;
    font-size: 64px;
    font-family: "Merriweather";
    font-weight: 900;
    margin-bottom: 24px;
}

.welcome-text p{
    color: rgba(255, 255, 255, 0.88);
    font-weight: 400;
    font-size: 16px;
    font-family: "inter";
    margin-bottom: 48px;
}

.welcome-text button{
    font-size: 20px;
    font-family: "inter";
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    background: none;
    border: none;
}


.welcome-2024 img{ 
    width: auto;
    height: auto;
    object-fit: cover;
}

/* welcome area css end here  */


/* date area css start here  */
.date-area{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 100%;
    height: 482px;
    text-align: center;
    display: block;
    border-radius: 16px;
}
.data-area-text{
    padding-top: 100px;
}
.date-area span{
    color: #f00;
    font-family: "inter";
    font-size: 32px;
    text-transform: capitalize;
    font-weight: 600;
}

.data-area-text h2{
    color: #070211;
    font-family: "inter";
    font-size: 32px;
    text-transform: capitalize;
    font-weight: 600;
}

.primary-btn{
    width: 168px;
    height: 56px;
    background-color: #ff0000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 46px;
    border: none;
    border-radius: 16px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

/* date area css end here  */


/* new offer area css start here  */
.new-offer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.left-col{
    width: 50%;
    display: block;
}
.left-col h6{
    font-size: 24px;
    font-weight: 500;
    font-family: "inter";
    color: #f00;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.left-col h2{
    font-size: 48px;
    font-weight: 900;
    font-family: "Merriweather";
    color: #070211;
    margin-bottom: 22px;
}

.left-col p{
    color: rgba(7, 2, 17, 0.60);
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    font-family: "inter";
}


.middle-col{
    border: 15px solid #f00;
    border-radius: 50%;
}

.middle-col img{
    padding: 26px;
}

.right-col h2{
    font-size: 48px;
    color: #f00;
    font-weight: 700;
    font-family: "inter";
    margin-bottom: 16px;
}

.right-col p{
    font-size: 20px;
    font-family: "inter";
    font-weight: 400;
    color: rgba(7, 2, 17, 0.60);
}

.offer-image{
    width: 140px;
    height: 140px;
    display: block;
    margin: 0;
    margin-top: 40px;
}

.offer-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* new offer area css end here  */


/* sales  area area css start here  */
.sales-area{
    text-align: center;
}

.sales-area h6{
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    font-family: "inter";
    text-transform: uppercase;
}

.sales-area h1 span{
    color: #f00;
    font-family: "Merriweather";
    font-size: 72px;
    font-weight: 900;
}

.sales-area h1{
    font-family: "Merriweather";
    font-size: 72px;
    font-weight: 900;
    color: #070211;
    margin-top: 20px;
}

.sales-area p{
    font-family: "inter";
    font-size: 20px;
    color: rgba(7, 2, 17, 0.60);
    font-weight: 500;
    margin-top: 50px;
}

/* sales  area area css end here  */

/* gifts-area  area area css start here  */ 
.gift-text h6{
    color: #f00;
    font-size: 24px;
    font-family: "inter";
    font-weight: 500;
    margin-bottom: 16px;
    text-transform: capitalize;
    margin-top: 120px;
}

.gift-text h1{
    font-size: 48px;
    font-family: "Merriweather";
    color: #070211;
    text-transform: capitalize;
    font-weight: 900;
}

.gift-text p{
    font-size: 20px;
    font-weight: 400;
    font-family: "inter";
    color: rgba(7, 2, 17, 0.60);
    width: 80%;
    margin-bottom: 48px;
    margin-top: 22px;
}

.gifts-image-sec{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 70px;
}
/* gifts-area  area area css end here  */


/* new sub-area  area area css end here  */
.newsub-area{
    background-color: rgba(255, 0, 0, 0.05);
    width: 100%;
    height: 616px;
    text-align: center;
    display: block;
    border-radius: 16px;
}

.envolap{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 40px;
}
.envolap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.newsub-text h1{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    font-family: "Merriweather";
    text-transform: capitalize;
}

.newsub-text p{
    width: 50%;
    display: block;
    margin: 0 auto;
    padding-top: 22px;
    padding-bottom: 48px;
    font-family: "inter";
}

.newsub-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}


.newsub-btn input{
    width: 430px;
    outline: none;
    height: 68px;
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
    opacity: 0.6;
    border: none;
    border-radius: 40px 0px 0px 40px;
}

.newsub-btn button{
    width: 182px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f00;
    margin: 0;
    cursor: pointer;
    border-radius: 0px 40px 40px 0px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: "inter";
    text-transform: capitalize;
}

/* new sub-area  area area css end here  */


/* footer   area area css start here  */

.footer-area{
    background-color: #070211;
    margin-top: 120px;
    height: auto;
    display: block;
}

.add-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding-top: 120px;
}
.add-sec h6{
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    font-family: "inter";
    line-height: 40px;
    text-transform: capitalize;
}
.add-right-col{
    color: #fff;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.num-logo{
    width: 24px;
    height: 24px;
}
.num-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.web-logo{
    width: 24px;
    height: 24px;
}
.web-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.number{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.web{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;   
}

.web h6 a{
    text-decoration: none;
    color: #fff;
}

hr{
    color: #fff;
    width: 100%;
    display: block;
    margin-top: 50px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin-bottom: 48px;
}


.footer-logo-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.footer-logo{
    width: 64px;
    height: 64px;
}

.footer-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-notice-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding-bottom: 120px;
}


.footer-notice-area h6{
    font-size: 24px;
    font-weight: 500;
    font-family: "inter";
    text-transform: capitalize;

}
/* footer   area area css end here  */
